@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

@keyframes __where {
    0% {
        box-shadow: inset 4px 4px #ff1e90, inset -4px -4px #ff1e90
    }
    100% {
        box-shadow: inset 8px 8px #3399ff, inset -8px -8px #3399ff
    }
}

.where, .\? {
    animation: __where 0.5s ease-in-out alternate infinite;
}

.fi-simple-header > .fi-logo {
    height: 6rem !important;
}

.fi-main:has(> .catedra:first-child) {
    max-width: initial;
    margin: 0 !important;
    padding: 0;
}

.md-body {
    h2 {
        margin: 4rem 0 2rem 0;
        font-weight: bold;
        color: red;
    }

    h3 {
        margin: 2rem 0 1rem 0;
        font-weight: bold;
        @apply text-xl;
    }

    h4 ~ p {
        font-size: 0.8rem;
        line-height: 1.3rem;
        margin-bottom: 0.5rem;
    }

    p {
        line-height: 1.8rem;
        margin-bottom: 1rem;
    }

    p > img {
        width: 100%;
    }

    ul > li {
        list-style: disc;
        margin-left: 3rem;
        margin-bottom: 1rem;
    }
}

.post {
    h2 {
        @apply text-3xl text-left font-bold text-red-600 mt-20 mb-8;

        &:first-child {
            @apply mt-0;
        }
    }

    h3 {
        @apply text-2xl font-bold mt-8 mb-4;
    }

    h4 {
        @apply text-lg font-semibold mb-4;
    }

    p > img {
        width: 100%;
    }
}

.gallery {
    > .fi-pagination-overview {
        background-color: red;
        display: none;
    }

    > .fi-pagination-items {
        grid-column-start: 2;
    }
}
